$width100: 100%;
$height100: 100%;
$color-black: #000;
$color-white: #fff;
$width300px: 290px;
$height300:100px;
$color-blue: #0c4880;

header{
  position: relative;
  .logo{
    position: absolute;
    left: 10px;
    color: $color-white;
    line-height: 50px;
  }
}
.buttons{
  width: 100%;
  button{
    width: 49%;
    cursor: pointer;
    border: none;
    line-height: 20px;
    font-weight: bold;
    font-size: 1.3em;
    color: $color-white;
    background-color: lighten($color-blue,50%);
    outline:1px solid darken($color-white,40%);
    &:hover{
      background-color: $color-blue;
      transition: 3s;


    }
  }
}
form{
  border: 1px solid darken($color-white,40%);
  width: 500px;
  margin: 20px auto;
  background-color: darken($color-white,5%);
  border-radius: 5px;
  padding: 10px;
  &:hover{
    background-color: $color-white;
    transition: 3s;
    border: 1px solid darken($color-white,20%);
  }
  table{
    width: 100%;
    tr{
      td{
        border-bottom: 1px solid darken($color-white,30%);
        padding: 10px 0;
        &:first-child{
          text-align: right;
          padding-right: 10px;
        }
        &:last-child{
          width: 100%;
          >*{
            width: 98%;
            border-radius: 5px;
            &:hover{
              background-color: darken($color-white,10%);
              transition: 3s;
            }
            &:focus{
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}