$width100: 100%;
$height100: 100%;
$color-black: #000;
$color-white: #fff;
$width300px: 290px;
$height300:100px;
$color-blue: #0c4880;
.users{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: darken($color-white,30%);
    position: relative;
    padding-bottom: 30px;
    .info{
      padding-bottom: 10px;
      overflow: hidden;
      .img-user{
        width: 100px;
        float: right;
        text-align: center;
        img{

          max-width: 100px;
          margin: 0 auto;
          max-height: 100px;
        }
      }
      h2{
        text-align: center;
        margin: 0;
      }
      .city{
        display: block;
        font-size: 0.8em;
        text-align: center;
        font-style: italic;
      }
    }
    .edit{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 1.2em;
//      display: block;
      text-align: center;
      line-height: 30px;
      background-color: darken($color-white,5%);
      cursor: pointer;

    }
    &:hover{
      background-color: darken($color-white,1%);
      transition: 1s;
      .edit{
        background-color: darken($color-white,60%);
        color: $color-white;
        &:hover{
          background-color: lighten($color-black,20%);
          font-weight: bold;
          transition: 1s;
        }
      }
    }
  }
}