html, body{
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    width: 960px;
    max-width: 2000px;
    position: relative;
    height: 100%;
}
.header{
    width: 910px;
    border-bottom: 1px solid rgb(99, 173, 31);
    height: 100px;
    padding: 25px;

}
.header>a{
    background-color: white;
    display: block;
    float: left;
}

.header > div {
    overflow: hidden;
    height: 100%;
}
.text_left{
    width: 300px;
    margin-left: 20px;
    float: left;
}
.text_right{
    width: 300px;
    float: right;
    text-align: right;
    font-size: 0.8em;
}

.header a{
    text-decoration: none;
    color: blue;
}
.navigation{
    width: 730px;
    margin: 0 auto;

}
.navigation ul{
}
.navigation ul li{
    font-weight: bold;
    font-size: 14px;
    list-style: none;
    text-align: center;
    min-width: 200px;
    margin: 10px;
    display: inline-block;
    background-color: rgb(244, 239, 212);
}

.navigation ul li[selected='true'] {
    background-color: rgb(99, 173, 31);
}

.navigation ul  a{
    padding: 11px 0;
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
}
.navigation ul li:hover{
    background-color: rgb(99, 173, 31);
}
.footer{
    background-color: rgb(99, 173, 31);
    padding: 20px;
    font-weight: bold;

}
.footer >span{
    text-align: center; display: block;
}

button {
    outline: none;
}