.score_wrapper{
    width: 100%;
    height: 630px;
    overflow: hidden;
}
.compare_float_left{
    width: 19%;
    height: inherit;
    background-color: #ccc;
    margin-right: 1%;
    float: left;
}
.compare_float_center{
    width: 59%;
    /*width: 80%;*/
    height: 100%;
    background-color: #666666;
    float: left;
    /*float: right;*/
}
.compare_float_right{
    height: 100%;
    width: 20%;
    background-color: #7e4465;
    float: right;
}