.batteryContainer
{
    height: 200px;
    width: 750px;
    margin: auto ;

}

.main-content
{
    height: 800px;
}
.prodSpan
{
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    padding-top: 15px;
    height: 30px;
}
.prodDiv
{
    display: inline-block;
    float: left;
    color: #8BC34A;

}
.takenDiv
{
    display: inline-block;
    margin-right: 40px;
    float: right;
    color: #FF8A65;
}
.label
{
    padding: 20px;
}