.batteryContainer
{
    height: 200px;
    width: 750px;
    margin: auto ;

}
.main-content
{
    height: 800px;
    width: 100%;
    margin: 0 auto;
}
.prodSpan
{
    font-size: 20px;
    display: inline-block;
    margin-left: 60px;
    padding-top: 15px;
    height: 30px;
}
.prod
{
    color: rgb(99, 173, 31);
}
.cons
{
    color: #BF4444;
}