
body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.emission{
    display:inline-block;
    width:49%;
position: relative;
    background-color:#eee;
    float:left;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(99, 173, 31);
    border-top: none;

}
.emission h2{
    padding: 5px;
    background: rgb(99, 173, 31);
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius-top-right: 10px;
    margin:2px auto;
    text-align: center;

}
.saved_trees
{   display:inline-block;
    width:49%;
float:right;
    position: relative;
    background-color:#eee;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(99, 173, 31);
    border-top: none;
}
.saved_trees h2{
    padding: 5px;
    background: rgb(99, 173, 31);
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius-top-right: 10px;
    margin:2px auto;
    text-align: center;

}
.factory{
    width:250px;
    height:200px;
    stroke: green;
    stroke-width: 2;
    opacity:0.5;
}

.wrap{
    position: relative;
    width:100%;
}

.emm_res
{
  text-align: center;
    font-family: "Levenim MT", Arial, Helvetica, sans-serif;
    /*float:right;*/
    font-size: 8em;
    padding: 0;
    margin: 0;
    color:#333;
}