div#weather-list {
    width: 700px;
    overflow: hidden;
    margin: 5px auto;
}

ul.weather-list {
    overflow: hidden;
    margin: 0 0 0 -35px;
    list-style-type: none;
}

ul.weather-list > li {
    float: left;
    width: 120px;
    height: 200px;
    border: 2px solid #63AD1F;
    border-radius: 5px 5px 0 0;
    margin-left: 5px;
    background-color: #F4EFD4;
    padding: 5px;
    position: relative;
}

ul.weather-list > li:first-child {
    margin-left: 0;
}

.wimg {
    width: 100%;
    height: 68px;
    overflow: hidden;
}

.wimg img {
    border-radius: 4px;
    border: 2px solid #63AD1F;
    width: 60px;
    height: 60px;
}

.wdesc, .wtemp, .wimg  {
    text-align: center;
}

.wdesc {
    width: 100%;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    padding: 3px;
}

.wtemp {
    font-size: 14pt;
    font-weight: bold;
    color: #63AD1F;
    padding: 5px;
}

.wdesc, .wdate {
    box-sizing: border-box;
}

.wdate {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: right;
    width: 100%;
    padding: 5px;
    padding-right: 10px;
    font-size: 10pt;
}

#loading {
    width: 100%;
    height: 209px;
    text-align: center;
}

#loading::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#loading img {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.bwmore-info {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 0 5px;
}

.wmore-info {
    box-sizing: border-box;
    position: relative;
    top: 5px;
    height: 95px;
    border: 2px solid #63AD1F;
    border-radius: 0 0 5px 5px;
}