.battery-container
{
    width: 960px;
    margin: auto;
    font: bold 14pt Arial, sans-serif;
    text-align: center;
}

.wrapper{
    display: table;
    margin: 0 auto;
   border: 1px solid #aaa;
    background-color: #f9f9f9;;
}

.from-grid{
    width: 250px;
    display: table-cell;

}
.from-grid span.kwh-label, .from-grid label{
    color: #2d6a76;
}
.from-panel span.kwh-label, .from-panel label{
    color: #4BB2C5;
}
.from-panel {
    width: 250px;
    display: table-cell;
    height: 55px;

}
.wrapper p{
    color: #999999;
    font-size: 12px;
}
.wrapper{
    font-size: 12pt;
}
.wrapper span.kwh-label{
    font-size: 20pt;
}
#data{
    animation: apa 1s;
    height: 500px;
}
.prod{
    margin-top: 30px;

}
.battery-rend
{
    margin-top: -30px;
    width: 310px;
    height: 300px;
    display: inline-block;
    position: relative;
}
.date
{
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;

}

.total-consumption
{
    position: absolute;
    margin-top: 180px;
    z-index: 1000;
     width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 18pt;
    line-height: 30pt;
    border-top: 2px solid #2d6a76;

}
.label
{
    position: absolute;
    margin-top: 140px;
    z-index: 1000;
    width: 100%;
    text-align: center;
    font-size: 30px;

}
.borderBottom
{
    width: 50px;
    margin: auto;
    border-bottom: 2px solid #2d6a76;
}
