.batteryContainer
{
    width: 960px;
    margin: auto;
}
.main-content{
    animation: apa 1s;
    overflow: hidden;
}
.battery-rend
{
    width: 300px;
    height: 260px;
    display: inline-block;
    position: relative;
}
.date
{

    position: absolute;
    z-index: 1000;
    width: 100%;
    margin-top: 20px;
    text-align: center;

}
.totalConsumption
{
    position: absolute;
    margin-top: 150px;
    z-index: 1000;
     width: 100%;
    text-align: center;
}
.label
{
    position: absolute;
    margin-top: 110px;
    z-index: 1000;
    width: 100%;
    text-align: center;
}

