$width100: 100%;
$height100: 100%;
$background-color-body: #fff;
$line-height: 40px;

html{
  height: 100%;
  width: 100%;
}
body{
  background: $background-color-body;
  width: $width100;
  height: $height100;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
header{
  position: fixed;
  width: $height100;
  height: 50px;
  background: darken($background-color-body,25%);
  z-index: 1000;
}
h1{
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
textarea{
  resize: none;
}

.content{
  width: $height100;
  height: $height100;
  &-left{
    margin-top: 50px;
    position: fixed;
    width: 250px;
    background-color: darken($background-color-body, 10%);
    height: $height100;
    display: table-cell;
    .operation{
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      li{
        line-height: $line-height;
        padding: 0 20px;
        border-bottom: 1px solid darken($background-color-body,20%);
        font-weight: 400;
        cursor: pointer;
        &:hover{
          background: darken($background-color-body,25%);
        }
        &[active='true']{
          background: $background-color-body;
          font-weight: bold;
          cursor:auto ;
        }
      }
    }
  }
  &-right{
    position: absolute;
    left: 250px;
    top: 0px;
    margin-top:50px;
    right: 0;
    bottom: 0px;
    overflow: auto;
//    min-width: 300px;
//    background: darken($background-color-body,50%);
    &-users{
      list-style: none;
      margin:0 auto;
      padding: 0;
      width: 100%;
      li{
        min-width: 300px;
        position: relative;
        background: darken($background-color-body,10%);
        min-height: 150px;
        padding-bottom: 30px;
        margin: 0 auto;
        width: 96%;
        margin: 10px 2%;
        border-radius: 5px;
        .info {
          .img-user {
            max-height: 130px;
            margin: 10px;
            float: right;
            img{
              margin: 0 auto;
              display: block;
            }
          }
          .city{
            margin: 0;
            font-size: 0.8em;
            font-style: italic;
            padding: 0;
            display: block;
            text-align: center;
          }
          h2{
            font-weight: bold;
            margin: 0;
            text-align: center;
          }
          p{
            padding: 0 10px;
            text-indent: 10px;
          }
        }
        .edit{
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: darken($background-color-body,15%);
          display: block;
          text-align: center;
          line-height: 30px;

        }
        &:hover{
          .edit{
            transition: 1s;
            font-weight: bold;
            background: darken($background-color-body,20%);
            cursor: pointer;
          }
        }
      }

    }
    .upload-users{
      min-width: 300px;
      display: block;
      width: 100%;
      text-align: center;
      line-height: 30px;
      margin-top:30px;
      background: darken($background-color-body,30%);
      a{
        display: block;
        width: 100%;
      }
    }
    >.new-user{

      background: #0B5300;
      width: 500px;
      border-radius: 10px;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}
