.batteryContainer
{
    width: 450px;
    margin: auto;
}
.main-content{
    animation: apa 1s;
    overflow: hidden;
}
.label
{
    font-family: Verdana,sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #BDBDBD;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    display: inline-block;
}
.production
{
   margin-left: 10px;
}
.taken-from
{
    float: right;
    margin-right: 40px;
}

.battery
{
    border-radius: 10px;
    border: 10px solid black;
    width: 400px;
    height: 120px;
    background-color: #F4EFD4;
    display: inline-block;
    float: left;
}
.prod
{
    background-color: #4CAF50;
    height: 100%;
    white-space: nowrap;
}
.prod span
{
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 50px;
    left: 15px;
    font-family: Verdana,sans-serif;
}
.electrode
{
    width: 20px;
    height: 50px;
    background-color: black;
    float: left;
   margin-top: 45px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
footer
{
    margin-top: 160px;
}