body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height:100%;
    background-color: #eee;
    display: none;
}

html {
    height: 100%;
    width: 100%;
}

input {
    outline: none;
}

header{
    background-color: #000000;
    width: 960px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

h1{
    margin: 0;
    padding: 0;
}

.head_table {
    margin: 0 auto;
    width: 960px;
    height: 100%;
    display: table;
}

.table {
    display: table;
}

.table-row{
    display: table-row;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
}

.wrapper_left,.main{
    padding: 5px 0;
    display: table-cell;
    /*height: 100%;*/
    /*overflow: hidden;*/
    outline: 1px solid #e9e9e9;
}

.wrapper_left .inner-wrapper{
    width: 250px;
}

.wrapper_left {
    vertical-align: top;
    width: 250px;
    /*background-color: #1e7e04;*/
    /*color: #ffffff;*/
    background-color: #ffffff;
}

.wrapper_left ul{
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.wrapper_left li{
    line-height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid #000000;
}

.wrapper_left li:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: #e9e9e9;
}

.wrapper_left li[active='true'] {
    background-color: #999999;
    font-weight: bold;
    cursor: default;
}

.wrapper_left .inner-wrapper{
    width: 250px;
}

.main{
    width: 100%;
    background-color: #cccccc
}

.wrapper_left .new-user{
    width: 230px;
    margin: 0 10px;
    height: 40px;
    display: inline-block;
    font-family: Impact;
    font-size: 1.5em;
    /*background-color: #1e7e04;*/
    background-color: #cccccc;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    /*color: #cccccc;*/
    border: none;

}

.buttons>*{
    height: 30px;
    display: inline-block;
    font-family: Impact;
    font-size: 1.5em;
    /*background-color: #1e7e04;*/
    outline: none;
    box-shadow: none;
    cursor: pointer;

    /*color: #cccccc;*/
    border: none;
    border-bottom: 1px dashed #0c4880;
    background-color: #cccccc;
    color: #0c4880;
}
.buttons>*:first-child{
    margin-right: 50px;
}
.main .new-user, .edit table{
    width: 500px;
    /*height: 100%;*/
    margin: 0 auto;
    /*background-color: #ffffff;*/
}

textarea{
    resize: none;
    padding: 1px;
    height: 50px;
}

.main .new-user table{
    width: 100%;

}

.main .new-user table td:first-child,
.edit table td:first-child{
    width: 30%;
    text-align: right;
}

.main .new-user table td:last-child,
.edit table td:last-child{
    width: 70%;
}

.main .new-user table td:last-child>*,
.edit table td:last-child>*{
    width: 100%;
}

.main .new-user tr{
    border-bottom: 1px solid #ffffff;
}

.main .new-user td
{
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
}
.edit table td{
    padding: 10px 0;
}
.edit table textarea{
    height: 100px;
}
.buttons{
    margin: 0 auto;
    width: 50%;
}


.wrapper_left .info{
    width: 690px;
    padding: 0 10px;
}

.img{
    width: 230px;
    margin: 0 auto;
    text-align: center;
}

.img img{
    max-width: 220px;
}

.info table{
    border-collapse: collapse;
    width: 430px;
}
.info>*{
    background-color: #efefef;
}
.info tr{

    border-bottom: 1px dashed #000000;
    line-height: 30px;
}

.info td:first-child{
    padding-left: 10px;
    width: 30%;
    font-weight: bold;
}

.info td:last-child{
    font-style: italic;
}

.info .edit{
    display: inline-block;
    font-style: italic;
    text-align: center;
    border-bottom: 1px dashed #ff999e;
    color: #ff999e;
    cursor: pointer;
}
.edit form{
    border: 1px solid #999999;
    display: block;
    margin: 5px 40px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
input[invalid='true'], textarea[invalid='true'] {
    background-color: #ff999e;
}

.info-table {
    margin: 5px;
}

.bphoto {
    max-width: 250px;
    text-align: center;
}

.binfo, .table-info {
    width: 465px;
    max-width: 465px;
    min-width: 465px;
    overflow: hidden;
}

.table-info tr td{
    vertical-align: top;
}

.cts, .cts > input {
    width: 180px;
}

.cts > input, .cbs > button {
    padding: 3px;
    border: 1px solid #666666;
}

.cbs > button {
    padding: 3px 5px;
    border-left: none;
}

.tcb {

}

.st {
    width: 100%;
    margin: 5px;
}

.upload-users {
    text-align: center;
}

.upload-users > a {
    text-decoration: none;
    font-size: 10pt;
    color: #0c4880;
}

.upload-users > a:hover {
    text-decoration: underline;
}
.bac{
    text-align: center;
    display: block;
    width: 100%;
}
progress{
    margin: 0 auto;
    margin-left: 70px;
}