tr[active='true'] {
    background: #ffcd76;
}

td {
    padding: 0;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

table.template {
    border: 1px solid #999;
    border-radius: 5px;
    width: 800px;
    margin: 20px auto;
    background-color: #F2F2F2;
}

table.template td {
    height: 25px;
    padding: 0 5px;
    vertical-align: middle;
    text-align: center;
}

table.template td a {
    color: #3a3a3a;
    text-decoration: none;
}

table.template td a:hover {
    text-decoration: underline;
}

table.template td.name {
    text-align: left;
    width: 20%;
}

table.template td.author {
    width: 15%;
}

table.template td.version {
    width: 10%;
}

table.template td.comment {
    text-align: left;
}

table.template td.oper {
    text-align: left;
    width: 15%;
}

tr.header > th {
    border-bottom: 1px solid #999;
    height: 30px;
    vertical-align: middle;
}