table.template tr[active='true'] {
    background: #ffcd76;
}

td {
    padding: 0;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

table.template {
    border: 1px solid #999;
    border-radius: 5px;
    width: 800px;
    margin: 20px auto;
    background-color: #F2F2F2;
}

table.template td {
    height: 25px;
    padding: 0 5px;
    vertical-align: top;
    text-align: center;
}

table.template td a {
    color: #3a3a3a;
    text-decoration: none;
}

table.template td a:hover {
    text-decoration: underline;
}

table.template td.checkbox {
    width: 5px;
}

table.template td.name {
    width: 180px;
}

table.template td.author {
    width: 170px;
}

table.template td.version {
    width: 40px;
}

table.template td.comment {

}

table.template td.file {
    width: 20px;
}

table.template td.oper {
    width: 20px;
}

img.delete {
    width: 15px;
    height: 15px;
}

tr.header > th {
    background-color: #aaa;
    border-bottom: 1px solid #999;
    height: 30px;
    vertical-align: middle;
}
table.template  tr>td{
    border-bottom: 1px solid #e9e9e9;
}

tr:hover{
    background-color: #eeeeee;
}

img.select {
    width: 20px;
    height: 20px;
}

img.download {
    width: 15px;
    height: 15px;
}