input, textarea {
    outline: none;
}

div.edit {
    position: relative;
    top: 10px;
    width: 600px;
    margin: 0 auto;
}

ul.list-left-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.list-left-menu > li {
    z-index: 100;
    background-color: #FFF;
    border: 1px solid black;
    border-right: none;
    margin: 2px 0;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    text-align: right;
    width: 100px;
    border-radius: 4px 0 0 4px;
    position: relative;
    left: 1px;
    cursor: pointer;
}

ul.list-left-menu > li.active {
    width: 110px;
    left: -9px;
    background-color: #26afff;
    background-repeat: repeat-y;
    background: -webkit-gradient(linear, left top, right top, from(#FFF), to(#26afff));
    background: -webkit-linear-gradient(left, #26afff, #FFF);
    background: -moz-linear-gradient(left, #26afff, #FFF);
    background: -ms-linear-gradient(left, #26afff, #FFF);
    background: -o-linear-gradient(left, #26afff, #FFF);
}

.edit-data {
    position: relative;
    left: -10px;
    z-index: 90;
    background-color: #FFF;
    border: 1px solid black;
    max-width: 495px;
    min-width: 495px;
    border-radius: 4px;
}

textarea.fi, input.fi {
    padding: 5px;
    width: 375px;
    border-radius: 4px;
    border: 1px solid #26afff;
}

textarea.fi {
    min-height: 100px;
}

table.et td {
    vertical-align: top;
    padding: 0;
}

table.et {
    border-spacing: 0;
    border-collapse: separate;
}

.ped {
    padding: 15px;
}

table.gdr {
    border-spacing: 2px;
    border-collapse: separate;
}

table.gdr td {
    vertical-align: middle;
}

h3 {
    text-align: center;
}