.graph-container
{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    position: relative;
}
.button-table{
    position: relative;
    margin-left:20px;
    display: table;
    bottom:0;
}
.button-row{
    display: table-row;
}
.period
{
    display: table-cell;
    width: 100px;
    height: 30px;
    cursor:pointer;
    font-size: 12px;
    line-height: 250%;
    color:#333;
    background-color:#fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0;
    padding: 0 8px;
    text-align: center;
    transition: all 0.218s;
}

.is_active{
    font-weight:bold;
    color:blue;
}

table.jqplot-table-legend
{
    height:50px;
    font-size:0.9em;
}

.change-view{
    position: absolute;
    right:15px;
    z-index: 1000;
}
.change-view-homepage{
    margin-top: 5px;
}
.jqplot-yaxis-label
{
    margin-left:10px;
}

.button-center {
    width: 726px;
    margin: 0 auto;
}

div[class*="jqplot"]{
    border:none;
}