.score-wrapper{
    width: 100%;
    overflow: hidden;
}
.compare-float-right ul{
    padding: 10px 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.main-content{
    animation: apa 1s;
}
.list {
    margin: 3px;
}
.user {
    min-height: 30px;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 30px;
    padding: 3px 0 3px 0;
}
.user .check-box {

}
.user:hover {
    background-color: #63AD1F;
}
.compare-float-right p{
    text-align: center;
}
.compare-float-right label *,.compare-float-right label{
    cursor: pointer;
}
.compare-float-center{
    padding: 0 3px 0 5px;
    display: table-cell;
    height: 100%;
}
.compare-float-right ul{
    margin: 0;
    padding: 0;
}
.compare-float-right{
    display: table-cell;
    height: 100%;
    width: 190px;
    margin: 6px;
    border: 1px solid rgb(99, 173, 31);
    font-weight: bold;
    background: rgba(208,208,208,0.5);
}
.compare-float-right [type='text']{
    background-color: #F4EFD4;
    color: #A9A9A9;
    height: 25px;
    border: 1px solid #63AD1F;
    margin: 3px 0;
    width: 95%;
    padding: 3px;
}
.compare-float-right [type='text']:focus{
    color: #000000;
}
.search{
    width: 100%;
}
.this{
    display: inline-block;
    width: 100%;
    background-color: rgb(99, 173, 31);
}

.padding5 {
    padding: 5px;
}

.margin5px{
    margin: 5px;
}

.width99p{
    width:99%;
}

.change-view-score {
    top: 5px;
}
.button {
    color: #000;
    background-color: rgb(244, 239, 212);
    border: none;
    margin: 0 3px 0 3px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(159, 233, 81);
}

.position-relative {
    position: relative;
}

.compare-graph{
}
.selected_users{
    border: 1px solid #0B5300;
    min-height: 183px;
}

#data .time{
    text-align: center;
    margin: 5px;
}

.table {
    display: table;
}

.float-right {
    float: right;
}

.compare {
    border: 2px solid rgb(99, 173, 31);
    border-top: none;
    background-color: #eee;
}

.compare h2{
    padding: 5px;
    background: rgb(99, 173, 31);
    color:white;
    margin:0 auto;
    text-align: center;
}

.time-button {
    display: table-cell;
    width: 33%;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    color: #333;
    background-color: rgb(170, 250, 100);
}


.time-button:hover{
    background-color: #63AD1F;
    color: #fff;
}

.explanation h3{
    text-align: center;
    margin: 20px 0 5px 0;
    font-weight: 100;
    font-size: 20px;
}

.explanation .table{
    display: block;
    border: 1px solid rgb(99, 173, 31);
    border-top: none;
    width: 100%;
    height: 173px;
    text-align: center;
}

.explanation .row{
    width: 100%;
    font-size: 18px;
    height: 27px;
    padding: 1px 0 0;
}

.row:hover {
    background-color: #DFDFDF;
}

.head-row {
    width: 100%;
    font-size: 18px;
    height: 27px;
    background-color: #63AD1F;
    color: #fff;
}

.head-row .consumption:hover {
    background-color: #AAFA64;
    color: #fff;
    cursor: pointer;
}

.head-row .production:hover {
    background-color: #AAFA64;
    color: #fff;
    cursor: pointer;
}

.head-row .cell{
    height: 27px;
}

.explanation .cell {
    display: inline-block;
    line-height: 26px;
}

.explanation .name {
    width: 24%;
}

.explanation .consumption {
    width: 24%;
}

.explanation .production {
    width: 24%;
}

.explanation .achievement {
    width: 24%;
}