body{
    background-color: #f9f9f9;
}
.fb{
    text-align: center;
    display: inline-block;
    height: 26px;
    width: 350px;
    position: absolute;
    margin-left: -150px;
    margin-top: 10px;
    left: 50%;
}
.fb span{
    font-size: 19px;
    margin-left:20px;
}
.content {
    width: 960px;
    margin: 0 auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
}
.pure-g{
    padding:15px;
}

.table{
    display: table;
}
.row{
    display: table-row;
}
.cell{
  display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 320px;
}
.cell i{
    font-size: 40px;
}
.jqplot-target{
    height:350px;
}
 .pie-chart{
    width:100%;
}

.avatar-img{
    width: 90%;
}
/*Content Css*/
.content>.pure-g:nth-child(2n-1){
    background-color: #f9f9f9;
    border-bottom: 2px solid #666;
}
.battery-container{
    border-bottom: 2px solid #666;
}
.content>.pure-g:nth-child(2n){
    background-color: #f9f9f9;
    border-bottom: 2px solid #666;
}
/*.content>.pure-g:first-child{*/
    /*border-top-left-radius:10px;*/
    /*border-top-right-radius:10px;;*/
/*}*/
.content>.pure-g:last-child{
   border: none;
}
[class*='pure-u']>p{
    font-size: 0.8em;
    line-height: 150%;
    margin-right: 15px;
}

.about-user>p{
    clear:both;
    display: block;
    margin-right: 60px;


    font-style: normal;

    letter-spacing: 0;
    font-family: MuseoSans, serif;
    font-size: 18px;
    font-weight: 400;

    color: #313131;
    line-height: 1.88em;


}
.grid-header-parent{

}
.grid-header{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    color: #333;
    line-height: 1.1em;
    letter-spacing: 0;
    text-align: left;
}

/*Not display all tabs at first load (in main.js: fadeIn first tab)*/
.tab{
    display:none;
}
/*Table different metrics*/
.table-metrics{
    display:table;
    background-color: #fff;
    margin-bottom: 25px;
    border: 1px solid #aaa;
    height: 450px;
}
.row-metrics{
    display: table-row;
    height: 450px;
}
.cell-metrics{
    margin-top: 8px;
}
.column-metrics{
    height: 450px;
}

.table-metrics p{
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

.row-metrics .column-metrics:nth-child(2){
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.row-metrics>.column-metrics:nth-child(3){
    border-right: 1px solid #aaa ;
}

.value>span{

    font-family: 'Droid Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    letter-spacing: 0;
}
.explanation{
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #999999;
    line-height: 1.16em;
    letter-spacing: 0;
}
.cell-metrics>.pure-g{
    padding: 5px 10px 5px 10px;
}
.mouse-down{
    background-color: blue;
}
.cont{
    border-radius: 0;
}
.container-menu{
    margin-bottom: 0;
}

.container-menu>.pure-g:first-child{
    background-color: #27ae60;
    cursor: pointer;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
}

.active-link{
    background-color: rgb(234,162, 40)!important
}

.link{
    color:#fff;
    background-color: #4BB2C5;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    line-height: 1.28em;
}

.name-tab span{
    display: block;
    text-align: center;
    margin-top:  5%;
}